@{
    ViewBag.Title = "Home Page";




}

<main>




    <h1>Home Page</h1>







        @*@if (ViewBag.Message != null)
            {
                <p>Message: @ViewBag.Message</p>
            }*@
    </main>